test1/src/main/mule/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76301646-eb18-4f26-be52-c2e8a5c61fa4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test1Flow" doc:id="a8d007de-a48c-44e5-af9d-15e4b54956e2" >
		<http:listener doc:name="Listener" doc:id="96500ae0-78f6-4d2d-9c83-3d3409918037" config-ref="HTTP_Listener_config" path="/hsbc"/>
		<set-payload value="'this is the another git project for testing'" doc:name="Set Payload" doc:id="54cf41a6-949e-41a8-aff0-ae8985279b34" />
		<logger level="INFO" doc:name="Logger" doc:id="768b3c1a-a712-4dd6-9326-f28317f4f10d" message="#[payload]"/>
	</flow>
</mule>
