ramal/src/main/mule/Test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de4caac3-c03f-48be-a347-d88068f5fbf7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="TestFlow" doc:id="155f503f-e99c-43fc-bcfc-f1f5361a37b6" >
		<http:listener doc:name="Listener" doc:id="992de7ce-8f44-4916-860f-6e4876e794f6" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="4a0b8bc1-e6ae-48b8-b52b-9596dae4c05a" message="diaplay the message #[payload]"/>
	</flow>
</mule>
